.book-subjects {
  margin:16px 0;
  font-size:12px;

  strong {
    font-family:'source_sans_pro_semiboldRg';
  }

  li {
    &:before {
      content:', ';
    }

    &:first-child:before {
      content:'';
    }
  }

  a {
    color:#dd4e00;
  }
}

.individual-subjects {
  display:inline;

  li {
    display:inline;
  }
}