.book-preview {
  padding-top:32px;

  > h2 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:4px;
    line-height:20px;

    a {
      color:#4691b9;
      text-decoration:none;

      &:hover, &:focus {
        text-decoration:underline;
      }
    }
  }

  > h3 {
    font-size:16px;
    margin-bottom:16px;
    color:#888;
  }

  > img {
    float:right;
    max-width:100px;
    height:auto;
    margin:0 0 5px 15px;
  }

  .book-preview-actions {
    list-style:none;
    overflow:hidden;
    margin:16px 0;

    > li {
      float:left;
      margin-right:5px;
    }
  }
}

.book-description {
  margin-top:24px;
}

.book-meta {
  padding:10px;
  background:$bookMetaBackground;
  border-radius:3px;
  margin-top:16px;
  word-wrap:break-word;
  clear:both;

  .book-published, .book-source, .book-pub-date, .book-page-count {
    font-size:12px;
    margin-bottom:2px;
  }
}

.add-to-shelf-form {
  margin-top:8px;

  label {
    float:left;
    position:relative;
    top:2px;
    margin-right:5px;
  }
}

#push_shelf_id {
  max-width:195px;
}

.add-to-shelf-form {
  .button {
    font-size:12px;
  }
}

.book-reader {
  display:block;
}

.read-book {
  background:$readBookBackground;
  border-color:$readBookBackgroundHover;

  &:hover, &:focus {
    background:$readBookBackgroundHover;
    border-color:$readBookBackgroundHover;
  }
}