@mixin rotate($deg) {
  -webkit-transform:rotate($deg);
  -moz-transform:rotate($deg);
  -o-transform:rotate($deg);
  -ms-transform:rotate($deg);
  transform:rotate($deg);
}

@mixin transform-origin($val) {
  -o-transform-origin:$val;
  -ms-transform-origin:$val;
  -moz-transform-origin:$val;
  -webkit-transform-origin:$val;
  transform-origin:$val;
}

@mixin skew($x, $y) {
  -webkit-transform:skew($x, $y);
  -moz-transform:skew($x, $y);
  -o-transform:skew($x, $y);
  -ms-transform:skew($x, $y);
  transform:skew($x, $y);
}

.stack-wrapper {
  position:relative;
}

.stackview {
  .stack-item {
    -webkit-transition:left 200ms ease-in-out;
    -moz-transition:left 200ms ease-in-out;
    transition:left 200ms ease-in-out;
  }

  .stack-pivot {
    left:8px;

    .stack-item-link {
      cursor:default;
      pointer-events:none;
      background:#dd4e00;
      border-color:#dd4e00;
      color:#fff;
    }

    .stack-pages {
      background:lighten(#dd4e00, 30%);
    }
  }

  .stack-items {
    padding-top:6px;
    overflow-y:scroll;
    width:92%;
  }
}

.stack-image .spine-title:before {
  content:'\f03e';
}
.stack-sound .spine-title:before {
  content:'\f001';
}
.stack-movingimage .spine-title:before {
  content:'\f03d';
}
.stack-text .spine-title:before {
  content:'\f0f6';
}
.stack-physicalobject .spine-title:before {
  content:'\f0f7';
}