/******************
   HEATMAP

   hottest = heat10
   coldest = heat1
*******************/
$basebg: #4691b9;
$baseborder: #4691b9;

.heat1 {
	$bg: tint($basebg, 12%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat2 {
	$bg: tint($basebg, 4%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat3 {
	$bg: shade($basebg, 4%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat4 {
	$bg: shade($basebg, 12%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat5 {
	$bg: shade($basebg, 20%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat6 {
	$bg: shade($basebg, 28%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat7 {
	$bg: shade($basebg, 36%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat8 {
	$bg: shade($basebg, 44%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat9 {
	$bg: shade($basebg, 52%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}

.heat10 {
	$bg: shade($basebg, 60%);
	$border: $bg;

	a {
		background-color:$bg;
		border-color:$border;
	}

	@include decorations($bg, $border);
}
