<% var currentUser = helpers.currentUser(); %>

<div class="book-preview">
  <img src="http://dp.la/assets/icon-text-b2bb9d2fd006d8e87b24613a4d4f362e.gif" class="cover_small" alt="">
  <h2><a href="#TODO-ITEMPAGE"><%= model.get('title') %></a></h2>
  <% if (model.get('creator')) { %>
    <h3><%= model.get('creator') %></h3>
  <% } %>

  <p class="book-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <div class="book-meta">
    <% if (model.get('publisher')) { %>
      <p class="book-published">
        <strong>Published by:</strong>
        <%= model.get('publisher') %>
      </p>
    <% } %>

    <% if (model.get('pub_date')) { %>
      <p class="book-pub-date">
        <strong>Year published:</strong>
        <%= model.get('pub_date') %>
      </p>
    <% } %>

    <% if (model.get('measurement_page_numeric')) { %>
      <p class="book-page-count">
        <strong>Pages:</strong>
        <%= model.get('measurement_page_numeric') %>
      </p>
    <% } %>

    <% if (model.get('source_url')) { %>
      <p class="book-source">
        <strong>Source:</strong>
        <% if (model.get('source_library')) { %>
          <span><%= model.get('source_library') %></span>
        <% } %>
        <a href="<%= model.get('source_url') %>" target="_blank"><%= model.get('source_url') %></a>
      </p>
    <% } %>
  </div>

  <ul class="book-preview-actions">
    <% if (model.get('viewer_url')) { %>
      <li><a href="<%= model.get('viewer_url') %>" class="button read-book">Read Book</a></li>
    <% } %>
  </ul>

  <div class="book-relateds"></div>
</div>