<div class="module yellow">
  <h3>Related Items</h3>
  <% var items = model.get('docs') %>
  <% if (items && items.length) { %>
    <div class="dpla-related">
      <% _.each(items, function(item) { %>
        <div class="dpla-related-item">
          <a href="http://dp.la/item/<%= item.id %>" target="_blank" class="view-dpla-item">
            <img src="<%= item.object %>" alt="<%= item.sourceResource.title %>">
            <span><%= item.sourceResource.title %></span>
          </a>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <p>No related DPLA items.</p>
  <% } %>
</div>

